<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Vernizze-NuGet" value="https://nuget.pkg.github.com/Vernizze/index.json" />
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
    <add key="github" value="https://nuget.pkg.github.com/Vernizze/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="Vernizze" />
      <add key="ClearTextPassword" value="7761775ffb84e468390ec1e1e1e9e8708d81a228" />
    </github>
  </packageSourceCredentials>
  <apikeys>
    <add key="https://nuget.pkg.github.com/Vernizze" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAwsZ41mQiPU+cDGv44YcwfAAAAAACAAAAAAAQZgAAAAEAACAAAADFmfePZS8q1EiZYTAg2wAI5MHJvof2TtLmyKnmUmRFoQAAAAAOgAAAAAIAACAAAABStELo0A8nNbcnxoTmcPcbtPgmYQBAgMLhGyrvBgmyqTAAAABcRhZWirUBbcOHW2ZZlAkj22XHUSDqMaZi6Jrra+87K7j/RGXTqFe7k6Z5VZ/lUElAAAAAgZbMpxJz027BAeLIyghB3STx4JDveIY2mkwCjbU7pR4kV27uI2vPdyIGncSXqdx/aTGOy/eJCus2CGZnkO7w2g==" />
  </apikeys>
</configuration>